/* include padding and borders in box model sizes */
*{
	box-sizing:border-box;	
}
body{
	background-color:#F78F1E;	
	font-family:"verdana", sans-serif;	
}
h1, h2, h3, h4, h5, h6{
	font-family:"cambria", serif;	
}

h1 img{
	border-radius:90%;
	margin-top:10px;
	border:solid 1px black;
}
small{
	position:relative;
	bottom:10px;		
}
#wrapper{
	/* 
	replace the 960px fixed width		
	with a variable width container (eg: 90%)
	
	since other page elements have been sized
	according to the fixed width of this container,
	their primary context value will be 960px	
	*/
	width:960px;	
	margin:36px auto;
	background-color:#EDF4F5;
	padding-bottom:10px;
	border:double 3px #054950;
	border-top:solid 2px #054950;
	border-bottom:solid 2px #054950;
	/* overflow:auto; keeps the #wrapper from collapsing 
		on its floated child tags */
	overflow:auto;	
}
section{
	margin:0 auto 53px;
	/* 
	convert fixed pixel dimensions into 
	scalable, relative % with the formula:
		target / context = result
		900 / 960 = 0.9375
		0.9375 = 93.75%			
	*/	
	width:900px;	
}
section h1{
	/* 
	deal with fixed px paddings in the same way...
		100 / 960 = 0.10416666
		
	*/
	padding-left:100px;	
}
main{
	float:left;
	/* 
	note: new context 
		'main' is inside the formerly 900px 'section' 
		
	convert fixed pixel dimensions into 
	scalable, relative % with the formula:
		target / context = result
		650 / 900 = 0.7222222222222
		0.7222222222222 = 72.22222222222%		
	*/
	width:650px;
}
article{
	background-color:#789A9F;
	padding:9px;
	border:double 3px #054950;
	border-top:solid 2px #054950;
	border-bottom:solid 2px #054950;
	margin-top:10px;	
}
aside{
	float:right;
	/* 
	note: context 
		'aside' is inside the formerly 900px 'section' 	
	convert fixed pixel dimensions into 
	scalable, relative % with the formula:
		target / context = result
		250 / 900 = 0.7222222222222
		0.27777777778 = 27.777777778%			
	*/
	width:250px;
	padding:10px;
}
aside h2{
	margin-top:0px;
	border-top:dotted 1px #054950;
}
aside ul{
	list-style-type:none;
	padding:0px;
}
aside li {
	border-bottom:dotted 1px #054950;
	padding-bottom:5px;
	margin-bottom:5px;
}
aside a{
	color:#054950;
	font-weight:bold;
	text-decoration:none;
}
aside a:hover{
	color:#F78F1E;	
}