/*
HTML selectors
-----------------------------------------------------------
*/
form, fieldset {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 10px 30px 10px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
	margin-bottom:10px;
}
legend{
	border:solid 1px #E5E5E5;
	background: #FFF;
}
code{
    color:  #89AF4C;
}
h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    border-bottom:1px solid #89AF4C;
}
h4{
	margin-top:0px;
}
label {
    display: block;
    margin: 0px 0px 5px;
    float: left;
    color: #5E5E5E;
}
input {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin: 2px 50px 2px 0px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
/*
CLASS selectors
-----------------------------------------------------------
*/
.submit_button {
	width:100px;
    background-color: #9DC45F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
}
.submit_button:hover {
    background-color:#80A24A;
}
/*
ID selectors
-----------------------------------------------------------
*/