body{
	font-size:90%;
}
h1, h2, h3, h4, h5, h6{
	margin:5px;
	font-family:"times new roman", serif;
	line-height:125%;
}
header{
	background-color:black;
	color:#FF7C00;
	padding:1px;
	display:block;
	background-image:url("../images/pumpkin.png");
	background-repeat:no-repeat;
	background-position:right;
	height:76px;
}
section{
	background-color:#A65100;
	display:block;
	padding:10px;
}
aside{
	display:block;	
	background-color:#FFB773;
	padding:5px;
	border-style:dashed;
	border-width:1px;
}
#wrapper{
	width:700px;		
	margin-left:auto;
	margin-right:auto;

	border-style:solid;
	border-width:3px;
	border-bottom-style:double;
	border-top-style:double;
	border-left-style:solid;
	border-right-style:solid;
	border-left-width:1px;
	border-right-width:1px;
	border-color:black;
}
