body{
	font-size:90%;
	background-color:#000000;

}
h1, h2, h3, h4, h5, h6{
	margin:5px;
	font-family:"verdana", serif;
	line-height:125%;
}
header{
	background-color:#C9F76F;
	padding:1px;
	display:block;
}
section{
	background-color:#FFFF73;

	display:block;
	padding:10px;
}
aside{
	background-color:#86B32D;
	display:block;	
	padding:5px;
	border-style:dashed;
	border-width:1px;
}