body{
		margin:0px;
	}
	section{
		padding:0px 10px;
	}
	/*
	a different div is used for each layer of the parallax effect

	the compact background property is used below

	 url("img/back.png") 
		- assign the appropriate image
	 repeat-x 
		- since we are going for a horizontal effect,
		  only allow the images to repeat on the x axis	
	 20% 0;
		- position this 0px down on the y axis
		- position this 20% over on the x axis. 
		  this percentage will result in a different 
		  position if the parent container chages width
	*/
	#background{
		background:url("../img/back.png") repeat-x 20% 0;
	}
	#midground{
		background:url("../img/mid.png") repeat-x 40% 0;			
	}
	#foreground{
		background:url("../img/front.png") repeat-x 150% 0;		
		/* 
		since none of these divs contain actual content,
		a height must be fixed on the topmost 
		to stop them from collapsing
		*/
		height:62px;
	}