$background-color-1: #f1f1f1;

nav {
  float: right;
  ul {
    margin: auto;
    li {
      display: inline;
    }
  }
}

main {
  max-width: 1000px;
  margin: auto;
  background: $background-color-1;
}

h2 {
  text-align: center;
  padding-top: 2rem;
}


.place {
  display: flex;
  .image {
    figcaption {
      text-align: center;
      padding: 0;
      background: #e1e1e1;
    }
  }
  .place-text {
    background: #666666;
  }
}