/* this page is concerned with fonts/typography */
body{
	font-family:verdana, sans-serif;
	font-size:90%;
}
h1, h2, h3, h4, h5, h6{
	margin:5px;
	font-family:"times new roman", serif;
	line-height:125%;
}
